*{
    box-sizing: border-box;
}
.formulario{
    margin-top: 100px;
    background-image: image(6939074.png);
}
.contenedor{
    width: 50%;
    padding: 15px;
    margin: 0 auto;
}
.loginForm{
    margin-top: 150px;
    padding: 5px;
}

h1{
    text-align: center;
    color: #2679B5;
    font-size: 40px;
    padding-left: 15px;
    font-weight: normal;
}
button{
    margin-top: 15px;
    border: none;
    width: 50%;
    color: white;
    font-size: 20px;
    background: #428bca;
    padding: 15px 20px;
    cursor: pointer;
}
.button:hover{
    background: #1b6aaa;
}
p{
    margin-top: 5px;
    text-align: center;
}
.boton{
    text-align: center;
}