<div class="prueba">
  <div class="formulario">
      <h1>Nueva Cuenta</h1>
  <div class="contenedor">
  <form class="row g-3">
      <div class="col-md-6">
        <label for="validationDefault01" class="form-label">Nombre</label>
        <input #nombre type="text" class="form-control" id="validationDefault01" required>
      </div>
      <div class="col-md-6">
        <label for="validationDefault02" class="form-label">Apellido</label>
        <input #apellido type="text" class="form-control" id="validationDefault02"  required>
      </div>
      <div class="col-md-12">
        <label for="validationDefaultUsername" class="form-label">Correo Instirucional</label>
        <div class="input-group">
          
          <input #email type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
      </div>
      </div>
      <div class="col-md-6">
        <label for="validationDefault03" class="form-label">Contraseña</label>
        <input #pswd type="password" class="form-control" id="validationDefault03" required>
      </div>
      
      <div class="col-md-6">
        <label for="validationDefault05" class="form-label">Telefono</label>
        <input #telefono type="number" class="form-control" id="validationDefault05" required>
      </div>
      
      
    </form>
    <div class="boton">
    <button type="submit"  class="button" 
    (click)="crearUser(nombre.value,apellido.value,email.value,pswd.value,telefono.valueAsNumber)">Crear</button>
  </div>
    <p>¿Ya tienes una cuenta? <a class="link-opacity-50-hover" (click)="irALogin()">Ingresar</a></p>

      </div>


  </div>

</div>


