<header *ngIf="isVisible">

  <div class="logo">
      <img src="../../assets/img/logo.png" alt="ubb logo" width="35">
      <a [routerLink]="['/home']" ><h1>Universidad del Bío-Bío: Objetos perdidos</h1></a>
  </div>
  <div class="profile">
      <div class="dropdownmenu">
        <!--
          <button class="btn btn-lg dropdown-toggle link">
              <img src="../../assets/img/user.png" alt="">
          </button>
          <div class="dropdown-content">
              <ul class="listaLink">
                  <li><a href="#">Administar Cuenta</a></li>
                  <li><a href="#">Objetos Solicitados</a></li>
              </ul>
          </div>
          -->
          <a *ngIf="id !== null" id="salir" (click)="salir()" class="btn btn-danger">Cerrar Sesion</a>
          <a *ngIf="id === null" id="ingresar" (click)="ingresar()" class="btn btn-primary">Iniciar Sesión</a>
      </div>
  </div>
</header>
