
<div class="prueba">
    
    <div class="formulario">
        <h1>Bienvenid@!</h1>
        <div class="contenedor">
  
          <form class="loginform">
            
            <div class="form-floating mb-3">
            <input #email type="text" class="form-control" id="floatingInput" placeholder="nombre.apellido0000@alumnos.ubiobio.cl">
            <label for="floatingInput">Correo Institucional</label>
          </div>
          <div class="form-floating">
            <input #pswd type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
          </div>
          </form>
  
  
          <button type="submit"  class="button" (click)="obtenerUser(email.value,pswd.value)">Ingresar</button>
          <br>
          <div *ngIf="this.usuariosService.user==null && email.value!='' && pswd.value!=''">
            <div class="alert alert-danger" role="alert" style="text-align: center;">
              Usuario o Contraseña incorrecta!
            </div>
          </div>
            
          <div *ngIf="this.usuariosService.user!=null">
            <div class="alert alert-success" role="alert" style="text-align: center;">
              Usuario valido 
              <meta http-equiv="refresh" content="1; irAOtraPagina()" />
            </div> 
          </div>
          <p>¿No tienes cuenta? <a class="link-opacity-50-hover" (click)="irANuevoUser()">Crear cuenta</a></p>
          
        </div>
      </div>
  
  
  </div>
  
   