<div class="container-fluid my-4">
    <div class="container my-4">
      <div class="row">
        <div class="col-md-2">
          <h4>{{titulo}}</h4>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
          <h5>Filtro por nombre de objeto:</h5>
        </div>
        <div class="col-md-2">
          <input type="text" [(ngModel)]="busqueda">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container my-4">
    <div id="Categoria" class="row">
      <div class="col-md-3 search-item" (click)="FiltarCategoria('Documentos personales')">
        <img src="../../assets/icono/reanudar.png" alt="Objeto 1">
        <p>Documentos personales</p>
      </div>
    <div class="search-item" (click)="FiltarCategoria('Dispositivos electrónicos')">
        <img src="../../assets/icono/auriculares.png" alt="Objeto 2">
        <p>Dispositivos electrónicos</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Artículos de valor')">
        <img src="../../assets/icono/joyas.png" alt="Objeto 3">
        <p>Artículos de valor</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Equipos deportivos')">
        <img src="../../assets/icono/deportes-con-balones.png" alt="Objeto 4">
        <p>Equipos deportivos</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Material de estudio')">
        <img src="../../assets/icono/libro.png" alt="Objeto 5">
        <p>Material de estudio</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Ropa y accesorios')">
        <img src="../../assets/icono/ropa.png" alt="Objeto 6">
        <p>Ropa y accesorios</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Tarjetas')">
        <img src="../../assets/icono/tarjeta.png" alt="Objeto 7">
        <p>Tarjetas</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Otros')">
        <img src="../../assets/icono/mas.png" alt="Objeto 8">
        <p>Otros</p>
    </div>
</div>

<div class="container my-4" *ngIf="categoria != ''">
  <div class="row">
    <div class="col-md-12">
      Categoria seleccionada: {{ this.categoria }}
    </div>
  </div>
</div>

  <!-- Agrega clase 'container' para centrar y dar margen superior al contenido de las tarjetas -->
  <div class="container my-4">
    <div class="d-md-flex align-items-stretch">
      <div class="mx-auto mt-2 ms-md-4 col-md-10 col-lg-12">
        <div class="row">
          <div class="col-md-2 col-sm-4 mb-3" *ngFor="let publi of datos | filtro: busqueda">
            <div *ngIf="categoria == '' || categoria == publi.categoria" class="card">
                    <img src={{publi.imagen}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{publi.nombre}}</h5>
                    <a  (click)="botonmasinfo(publi.idp)" class="btn btn-primary">Más información</a>
                    <p class="card-text">{{publi.fechaHora}}</p>
                        <a *ngIf="isadmin == 2" (click)="ePorUser(publi.idp, 2)" class="btn btn-danger">Eliminar</a>
                        <a *ngIf="(idUser == publi.idu) && (isadmin != 2)" (click)="ePorUser(publi.idp, publi.idu)"
                            class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Agrega clase 'container' para centrar y dar margen superior al contenido de las últimas publicaciones -->
<div class="container my-4">
      <h4>Más recientes</h4>

            <div class="d-flex flex-wrap justify-content-center">
              <ul class="list-group p-2" *ngFor="let publi of ultPub">
                <li class="list-group-item align-items-center col-md-2 col-sm-4 mb-3">
                  <div class="card" style="max-width: 300px;">
                <img src={{publi.imagen}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{publi.nombre}}</h5>
                    <a  (click)="botonmasinfo(publi.idp)" class="btn btn-primary">Más información</a>
                    <p class="card-text">{{publi.fechaHora}}</p>
                    <a *ngIf="isadmin == 2" (click)="ePorUser(publi.idp, 2)" class="btn btn-danger">Eliminar</a>
                    <a *ngIf="(idUser == publi.idu) && (isadmin != 2)" (click)="ePorUser(publi.idp, publi.idu)"
                        class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </li>
      </ul>
    </div>
  </div>