<div class="row">
    <div class="col-md-2">
        <h4>{{titulo}}</h4>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-2">
        <h5>Filtro por nombre de objeto:</h5>
    </div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="busqueda">
    </div>
</div>
<div id="Categoria">
    <div class="search-item" (click)="FiltarCategoria('Documentos personales')">
        <img src="../../assets/icono/reanudar.png" alt="Objeto 1">
        <p>Documentos personales</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Dispositivos electrónicos')">
        <img src="../../assets/icono/auriculares.png" alt="Objeto 2">
        <p>Dispositivos electrónicos</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Artículos de valor')">
        <img src="../../assets/icono/joyas.png" alt="Objeto 31">
        <p>Artículos de valor</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Equipos deportivos')">
        <img src="../../assets/icono/deportes-con-balones.png" alt="Objeto 4">
        <p>Equipos deportivos</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Material de estudio')">
        <img src="../../assets/icono/libro.png" alt="Objeto 5">
        <p>Material de estudio</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Ropa y accesorios')">
        <img src="../../assets/icono/ropa.png" alt="Objeto 6">
        <p>Ropa y accesorios</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Tarjetas de transporte')">
        <img src="../../assets/icono/tarjeta.png" alt="Objeto 7">
        <p>Tarjetas de transporte</p>
    </div>
    <div class="search-item" (click)="FiltarCategoria('Otros')">
        <img src="../../assets/icono/mas.png" alt="Objeto 8">
        <p>Otros</p>
    </div>
</div>
<div class="FitlroCategoria" *ngIf="categoria!= ''">Categoria selecionada: {{this.categoria}}</div>

<div class="d-md-flex aling-items-strech">
    <div class="mx-auto mt-2 ms-4 col-8">
        <div class="row">
            <div class="col-md-3 mb-2" *ngFor="let publi of datos | filtro: busqueda">
                <div *ngIf="categoria== '' || categoria == publi.nombre "   class="card">
                    <img src={{publi.imagen}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{publi.nombre}}</h5>
                        <a class="btn btn-primary">Más información</a>
                        <p class="card-text">{{publi.fechaHora}}</p>
                        <a *ngIf="isadmin == 2" (click)="ePorUser(publi.idp, 2)" class="btn btn-danger">Eliminar</a>
                        <a *ngIf="(idUser == publi.idu) && (isadmin != 2)" (click)="ePorUser(publi.idp, publi.idu)"
                            class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto mt-1 col-3">
        <h4>Más recientes</h4>
        <ul class="list-group p-2" *ngFor="let publi of ultPub">
            <li class="list-group-item aling-item-center">
                <div class="card" style="max-width: 300px;">
                    <img src={{publi.imagen}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{publi.nombre}}</h5>
                        <a class="btn btn-primary">Más información</a>
                        <p class="card-text">{{publi.fechaHora}}</p>
                        <a *ngIf="isadmin == 2" (click)="ePorUser(publi.idp, 2)" class="btn btn-danger">Eliminar</a>
                        <a *ngIf="(idUser == publi.idu) && (isadmin != 2)" (click)="ePorUser(publi.idp, publi.idu)"
                            class="btn btn-danger">Eliminar</a>
                    </div>
                </div>

            </li>

        </ul>

    </div>
</div>