<div class="faq-container">
  <div class="faq-container">
    <div class="faq-card">
      <div id="P0" class="faq-question" (click)="mostrar(0)" >1. ¿Qué debo hacer si encuentro un objeto perdido?</div>
      <div id="R0" class="faq-answer" (click)="mostrar(0)"  > Si encuentras un objeto dentro de la universidad lo recomendable es suministrarlo al
        laboratorio de la universidad detallando el lugar, fecha y hora del hallazgo. </div>
    </div>

    <div class="faq-card">
      <div id="P1" class="faq-question" (click)="mostrar(1)" >2. ¿Cuál es el proceso para reclamar un objeto perdido?</div>
      <div  id="R1" class="faq-answer" (click)="mostrar(1)" >Para reclamar un objeto publicado como hallado lo primeros que tienes que hacer es iniciar
        sesión en la pagina poder conocer la ubicación del objeto en cuestión y para verificar que eres parte de la
        comunidad de la universidad, luego puedes acudir con los encargados del lugar en el que se encuentra tu objeto.
        Es recomendable llevar consiguió una prueba como una foto o recibo del objeto. </div>
    </div>

    <div class="faq-card">
      <div id="P2" class="faq-question" (click)="mostrar(2)" >3. ¿Qué información debo proporcionar al reportar un objeto perdido?</div>
      <div  id="R2"class="faq-answer" (click)="mostrar(2)" >Si decides publicar un objeto encontrado se recomienda no suministrar toda la información
        del objeto, dado que la información omitida puede ser de utilidad para validar que el solicitante de recuperar
        dicho objeto sea realmente el dueño. </div>
    </div>

    <div class="faq-card">
      <div id="P3" class="faq-question" (click)="mostrar(3)" >4. ¿Cuánto tiempo se guarda un objeto perdido?</div>
      <div  id="R3" class="faq-answer" (click)="mostrar(3)" > Todos los objetos serán retenidos hasta ser entregados a sus respectivos dueños. </div>
    </div>

    <div class="faq-card">
      <div id="P4" class="faq-question" (click)="mostrar(4)" >5. ¿Qué sucede si mi objeto perdido no ha sido encontrado después de cierto tiempo?</div>
      <div  id="R4" class="faq-answer"(click)="mostrar(4)" >El tiempo que puede tomar encontrar un objeto perdido por la comunidad de la universidad
        puede variar en muchos aspectos, te recomendamos consultar en diferentes paginas o foros adicionales como en
        grupos de WhatsApp o en Instagram. </div>
    </div>

    <div class="faq-card">
      <div id="P5" class="faq-question" (click)="mostrar(5)" >6. ¿Qué ocurre si alguien reclama un objeto perdido que no le pertenece?</div>
      <div  id="R5" class="faq-answer" (click)="mostrar(5)" >Cada solicitud de recuperación se encuentra registrada, por lo que de darse el caso de un
        intento de recuperación de objeto malicioso se podrá indagar en los registros para recabar información como los
        datos del indebido, el día, la hora etc. </div>
    </div>

    <div class="faq-card">
      <div  id="P6" class="faq-question" (click)="mostrar(6)" >7. ¿Existe algún costo asociado al proceso de búsqueda y recuperación de objetos
        perdidos?
      </div>
      <div  id="R6" class="faq-answer" (click)="mostrar(6)" >No cobramos ningún costo por el proceso de búsqueda y recuperación de objetos perdidos.
        Nuestro objetivo es ayudar a los propietarios a encontrar sus objetos perdidos de manera eficiente y sin cargos
        adicionales.</div>
    </div>

    <div class="faq-card">
      <div id="P7" class="faq-question" (click)="mostrar(7)" >8. ¿Qué sucede si el objeto perdido está dañado cuando se recupera?</div>
      <div id="R7" class="faq-answer" (click)="mostrar(7)" >La universidad se excusa de cualquier tipo de aparente daño que pueda llegar a presentar
        un
        objeto a la hora de ser entregado a encargados de la universidad para su respectiva retención y entrega.</div>
    </div>

  </div>