<app-header></app-header>

    <div class="seccion-ingresar" *ngIf="isVisible">
        <div class="row">
            <div class="col col-lg-2">
              <a [routerLink]="['/reporte']" class="btn btn-primary">Reportar un objeto perdido</a>
            </div>
            <div class="col col-lg-2">
              <a [routerLink]="['/reporte']" class="btn btn-primary">Preguntas frecuentes</a>
            </div>

        </div>

    </div>

    <router-outlet></router-outlet>


