<app-header></app-header>
<div class="seccion-ingresar" *ngIf="isVisible">
  <div class="row">
    <div class="col-md-3 col-lg-2">
      <a [routerLink]="['/reporte']" class="btn btn-primary">Reportar un objeto perdido</a>
    </div>
    <div class="col-md-3 col-lg-2">
      <a [routerLink]="['/PFrecuentes']" class="btn btn-primary">Preguntas Frecuentes</a>
    </div>
    <div class="col-md-3 col-lg-2">
      <a [routerLink]="['/reportes']" class="btn btn-primary">Mis Reportes</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
